@charset "utf-8";

/*----------------------------------------------------

	リセットCSS調整ファイルです。
	リセットCSSを調整、カスタマイズしたい場合に編集します。

----------------------------------------------------*/

/* ====================================================
		
	EXAMPLES FONT-SIZE
	------------------
	 77% = 9px
	 85% = 10px
	 93% = 11px
	100% = 12px
	108% = 13px
	116% = 14px
	124% = 15px
	131% = 16px
	139% = 17px
	147% = 18px
	154% = 19px
	162% = 20px
	170% = 21px
	177% = 22px
	185% = 23px
	193% = 24px
	200% = 25px
	---------------
	
====================================================*/

html {
  font-size: 62.5%;
  @media screen and (max-width: 1024px) {
    font-size: 52.5%;
  }
}

body {
  *font-size: small;
  *font: x-small;
  _font-size: 14px;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

input[type="text"],
textarea {
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 5px 10px;
  width: 100%;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.32);
    box-shadow: none;
    outline: none;
  }
}
textarea {
  height: 100px;
}
input[type="radio"] {
  margin: 0 2px 0 0;
}
select {
	appearance: none;
	background: transparent url('../images/arrow-select.png') no-repeat center right 7.5px/15px 15px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  padding: 5px 10px;
  width: 100%;
  &::-ms-expand {
    display: none;
  }
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.32);
    box-shadow: none;
    outline: none;
  }
}
input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.32);
  background-image: none;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 40px;
  text-decoration: none;
  &:hover,
  &:focus {
    outline: none;
	}
	&::-moz-foucus-inner {
		border: none;
		padding: 0;
	}
}
